{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js", "src/tests/*.js"]}],
    "max-len": ["error", { "ignoreComments": true, "code": 120 }],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true
      }
    }],
    "indent": 0,
    "no-multi-spaces": 0,
    "valid-jsdoc": 0
  }
}
