option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AUTH_DOMAIN
    value: topcoder-dev.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: development
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NEW_RELIC_LICENSE_KEY
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_LEVEL
    value: warn
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CAPTURE_LOGS
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOGENTRIES_TOKEN
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AUTH_SECRET
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_MASTER_URL
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RABBITMQ_URL
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PROJECTS_ES_URL
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DIRECT_PROJECT_SERVICE_ENDPOINT
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: FILE_SERVICE_ENDPOINT
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: IDENTITY_SERVICE_ENDPOINT
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SYSTEM_USER_CLIENT_ID
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SYSTEM_USER_CLIENT_SECRET
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_ACCESS_KEY_ID
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_SECRET_ACCESS_KEY
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CONNECT_PROJECTS_URL
    value: TBD
