option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AUTH_DOMAIN
    value: topcoder-dev.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ENVIRONMENT
    value: development
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NEW_RELIC_LICENSE_KEY
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_LEVEL
    value: warn
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CAPTURE_LOGS
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOGENTRIES_TOKEN
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AUTH_SECRET
    value: TBD
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DB_MASTER_URL
    value: TBD
