<head>
  <title>Topcoder Project Service - ES/DB Comparison Report</title>
<script>
function copyFromDB(data, button) {
  copyFrom(data, button, 'db')
}
function copyFromES(data, button) {
  copyFrom(data, button, 'es')
}
function copyFrom(data, button, type) {
  var modelName = Object.keys(data)[0]
  var documentId = Object.values(data)[0]
  var text = document.getElementById(type + '_' + modelName + '_' + documentId)
  <!-- setTimeout(() => text.innerHTML = originalText, 1000) -->
  text.style.display = 'block' // show the textarea so that we can copy the text in it
  text.select()
  document.execCommand('copy')
  text.style.display = 'none' // hide the textarea again
  // notify the user that the data is copied
  var buttonOriginalColor = button.style.background
  var buttonOriginalText = button.innerHTML
  button.innerHTML = 'Copied!'
  button.style.background = '#00e0e0'
  setTimeout(function() {
    button.innerHTML = buttonOriginalText
    button.style.background = buttonOriginalColor
  }, 500)
}
</script>
<style>
textarea {
  display: none
}
</style>
</head>

<body>
<h1>Summary</h1>
There are {{ project.meta.totalObjects }} objects with inconsistencies found in {{ project.meta.totalProjects }} projects.
<h1>List</h1>
<h2>Project ({{ project.meta.totalObjects }})</h2>
{{#each project.rootMismatch }}
  <h3>Project - id: {{ @key }} ({{ this.meta.counts }})</h3>
  {{#if this.project.length}}
  <button onclick="copyFromDB({ Project: '{{ @key }}' }, this)">Copy from DB</button>
  <button onclick="copyFromES({ Project: '{{ @key }}' }, this)">Copy from ES</button>
  <p>{{ this.project.length }} mismatches:</p>
  {{/if}}
  <ui>
  {{#each this.project }}
    <li>{{ this.path }} ({{describeKind this.kind }})</li>
  {{/each}}
  </ui>

  {{#each this.associations }}
  <h4>{{ @key }} ({{ this.meta.counts }})</h4>
    {{#each this.mismatches }}
      <h5>{{ @../key }} - id: {{ @key }}</h5>
      <button onclick="copyFromDB({ {{ @../key }}: '{{ @key }}' }, this)">Copy from DB</button>
      <button onclick="copyFromES({ {{ @../key }}: '{{ @key }}' }, this)">Copy from ES</button>
      <p>{{ this.length }} mismatches:</p>
      <ui>
      {{#each this }}
        <li>{{ this.path }} ({{ this.kind }})</li>
      {{/each}}
      </ui>
    {{/each}}
    {{#each this.dbOnly }}
      <h5>{{ @../key }} - id: {{ this.id }} (1)</h5>
      <button onclick="copyFromDB({ {{ this.modelName }}: '{{ this.id }}' }, this)">Copy from DB</button>
      <p>Found in DB but not in ES.</p>
    {{/each}}

    {{#each this.esOnly }}
      <h5>{{ @../key }} - id: {{ this.id }} (1)</h5>
      <button onclick="copyFromES({ {{ this.modelName }}: '{{ this.id }}' }, this)">Copy from ES</button>
      <p>Found in ES but not in DB.</p>
    {{/each}}
  {{/each}}
{{/each}}

{{#each project.dbOnly }}
<h3>Project - id: {{ this.id }} (1)</h3>
<button onclick="copyFromDB({ Project: '{{ this.id }}' }, this)">Copy from DB</button>
<p>Found in DB but not in ES.</p>
{{/each}}

{{#each project.esOnly }}
<h3>Project - id: {{ this.id }} (1)</h3>
<button onclick="copyFromES({ Project: '{{ this.id }}' }, this)">Copy from ES</button>
<p>Found in ES but not in DB.</p>
{{/each}}
<div id="data">
  {{#each meta.dbCopies }}
  <textarea readOnly id="db_{{ this.modelName }}_{{ this.id }}" rows="8" cols="40">
    {{toJSON this.dbCopy }}
  </textarea>
  {{/each}}
  {{#each meta.esCopies }}
  <textarea readOnly id="es_{{ this.modelName }}_{{ this.id }}" rows="8" cols="40">
    {{toJSON this.esCopy }}
  </textarea>
  {{/each}}
</body>
</div>
